<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="audience" class="com.lianyz.concertXml.Audience" />
    <bean id="drama" class="com.lianyz.concertXml.Drama" />

    <aop:aspectj-autoproxy />

    <aop:config proxy-target-class="true">
        <aop:aspect ref="audience">
            <aop:before
                    pointcut="execution(* com.lianyz.concertXml.Performance.perform(..))"
                    method="silenceCellPhones" />

            <aop:before
                    pointcut="execution(* com.lianyz.concertXml.Performance.perform(..))"
                    method="takeSeats" />

            <aop:after-returning
                    pointcut="execution(* com.lianyz.concertXml.Performance.perform(..))"
                    method="applause" />

            <aop:after-throwing
                    pointcut="execution(* com.lianyz.concertXml.Performance.perform(..))"
                    method="demandRefund" />
        </aop:aspect>
    </aop:config>
</beans>