<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="audience" class="com.lianyz.concertXml.Audience" />
    <bean id="drama" class="com.lianyz.concertXml.Drama" />

    <aop:aspectj-autoproxy />

    <aop:config proxy-target-class="true">
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression="execution(* com.lianyz.concertXml.Performance.perform(..))" />
            <aop:before pointcut-ref="performance" method="silenceCellPhones" />
            <aop:before pointcut-ref="performance" method="takeSeats" />
            <aop:after-returning pointcut-ref="performance" method="applause" />
            <aop:after-throwing pointcut-ref="performance" method="demandRefund" />
            <aop:around pointcut-ref="performance" method="watchPerformance" />
        </aop:aspect>
    </aop:config>
</beans>